:root {
    --sm_shadow: #9d9d9d;
}

body {
    background-image: url(./../img/cbf-bg.jpg);
}

.debug * {
    border: 1px dashed red;
}

.card {
    background: rgba(255, 255, 255, 0.1) !important;
}

.cell {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    width: 100px;
    text-align: center;
    position: relative;
    top: 0%;
    background: rgba(0, 0, 0, 0.3) !important;
    border: none;
    color: white;
}

@keyframes go_out {
    0% {
        top: 0%;
    }

    100% {
        top: -500%;
    }
}

@keyframes go_down {
    0% {
        top: -500%;
    }

    100% {
        top: 0%;
    }
}

.disappear {
    opacity: 0;
    transition: opacity 0.5s ease;
    top: 0%;
    animation: go_out 1s ease;
}

.appear {
    top: -0%;
    animation: go_down 1s ease;
}

.hide {
    visibility: hidden;
}

.title {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.btn_confirm {
    padding: 0.5rem 1rem !important;
    font-size: 2rem !important;
    border: none;
    font-weight: bold;
}


.cell_1 {
    animation-delay: 0s;
    transition-delay: 0.5s;
}

.cell_2 {
    animation-delay: 0.5s;
    transition-delay: 0.5s;
}

.cell_3 {
    animation-delay: 1s;
    transition-delay: 1s;
}

.cell_4 {
    animation-delay: 1.5s;
    transition-delay: 1.5s;
}

.cell_5 {
    animation-delay: 2s;
    transition-delay: 2s;
}

.notClickable {
    pointer-events: none;
}