:root {
    --sm_shadow: #9d9d9d;
}

.debug * {
    border: 1px dashed red;
}

.cell {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    box-shadow: 0 0 10px var(--sm_shadow);
    width: 66.5px;
    text-align: center;
}

.hide {
    visibility: hidden;
}

.check {
    font-size: 2rem;
    font-weight: bold;
    height: 66.5px;
}

.title_array {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: end;
}